body{
  background-color: rgb(162, 63, 255);
  padding:0;
  margin:0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1;
}

:root{
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fluid-width: 90vw;
    --grey-800: #1e293b;
    --grey-700: #334155;
    --grey-600: #475569;
}




/* 
=============
NAVBAR
=============
 */

nav{
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 1120px;
  padding: 0rem 1rem;
}

.logo{
  letter-spacing: 2px;
}



.toggle-btn{
  width: 1.8rem;
  height: 1.8rem;
  background-color: white;
  color: rgb(162, 63, 255);
  border-radius: 5px;
  padding: 4px;
  border: transparent;
  cursor: pointer;
  font-size: 1rem;
  transition: var(--transition);

  display:flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn:hover{
  transform: scale(1.12);
}


/* =====
HEADING
======== */
.heading-container{
  min-height: calc(100vh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-center{
  max-width: var(--max-width);
  width: var(--fluid-width);
}

.heading-center h1{
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  font-size: 5rem;
}
.heading-center p{
  font-size: 1.2rem;
  line-height: 1.5;
}



/* on big screen: */
@media screen and (min-width:992px){
  .toggle-btn{
    display: none;
  }
  .heading-center{
    text-align:center;
  }

  .sidebar{
    display: none;
  }
  
  

}



/* =====
SIDEBAR
======== */
/* hidden by default */
.sidebar{ 
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: white;

  /* toggle */
  opacity: 0;
  visibility: hidden;
}
/* class to open a sidebar */
.open-sidebar{
  opacity:1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 1s;
}




.sidebar-container{
  padding: 4rem 2rem;
  position: relative;
}


/* close button */
.close-btn{
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.4rem;
  color:rgb(162, 63, 255);
  transition: var(--transition);
}
.close-btn:hover{
  cursor: pointer;
  color:rgba(162, 63, 255, 0.514);
}


.sidebar article{
  margin-bottom: 2rem;
}
.sidebar h3{
  font-weight:400;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  color: rgb(162, 63, 255);
  text-transform: capitalize;

}

.sidebar-sublinks{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 3rem;
}

.sidebar-sublinks a{
  display: block;
  color: var(--grey-600);
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}




/* ======
NAVLINKS 
========*/
.navlinks{
  display: none;
}

@media screen and (min-width:992px){
  .navlinks{
    display: flex;
    justify-content: center;
    /* making a navbar-center take the whole height of parent container (5rem) so that when we hover over a link, the submenu doesn't disappear */
    /* now a link takes a whole height of a parent */
    align-self: stretch;
  }

  .nav-center{
    display: grid;
    /* 1fr for links to make them take all the space  */
    grid-template-columns:auto 1fr;
    /* making a navbar-center take the whole height of parent container (5rem) so that when we hover over a link, the submenu doesn't disappear */
    align-self:stretch;
  }
  .nav-link{
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 1rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 2px;
  }
}




/* SUBMENU */
.submenu {
  display: none;
}

@media screen and (min-width:992px){
  .submenu{
    background-color: white;
    border-radius: 6px;;
    display:block;
    padding: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    min-width: 70vw;
    max-width: 1120px;
    

    position:fixed;
    top:5rem;
    left:50%;
    /* to center the submenu */
    transform: translateX(-50%); 

    /* hidden by default */
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  .show-submenu{
    visibility:visible;
    opacity:1;
  }
  .submenu h3{
    margin-bottom: 1rem;
    color: rgb(162, 63, 255);
    font-weight: 370;
  }
  .sublinkss{
    display: grid;
    gap:0.5rem;
  }

  .sublinkss a{
    text-decoration: none;
    color: var(--grey-600);
    display: flex;
    align-items: center;
    gap:0.7rem;
  }
 
}

